<div class="navigation-breadcrumb">
    <a href="{{ baseUrl }}">{{ domain.getDomain() }}</a>

{% for crumb in breadcrumbs %}
    » <a href="{{ crumb|url }}">{{  crumb.getTitle() }}</a>
{% endfor %}

    » <a href="{{ currentPage|url }}">{{ currentPage.getTitle() }}</a>
</div>